* {
    border: 1px solid red;
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

/* All body sections */

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.section * {
    min-width: 0;
}

/* Webpage content containers */

.content {
    max-width: 1450px;
    min-width: 0;
    border: 1px solid greenyellow;
    flex: auto;
    display: flex;
    align-items: center;
}

/* Header */

.header.section {
    background-color: #1F2937;
    height: 60px;
}

.header.content {
    justify-content: space-between;
}

.header-logo {
    color: #F9FaF8;
    font-size: 24px;
    font-weight: bold;
}

.header-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    align-items: center;
}

a {
    text-decoration: none;
}

li a {
    color: #E5E7EBE5;
    font-size: 18px;
    font-weight: 200;
    margin: 0;
}

li {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

/* Hero section */

.hero.section {
    background-color: #1F2937;
    height: 400px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}

.hero-main-text {
    color: #F9FaF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-subtext {
    color: #E5E7EBE5;
    font-size: 18px;
}

.hero-left .signup-button {
    align-self: flex-start;
    background-color: #3882F6;
    color: #F9FaF8;
    border: none;
}

.signup-button {
    padding: 6px 34px;
    font-size: 18px;
    border-radius: 8px;
}

.hero-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Info section */

.fa-solid {
    color: #3882F6;
}

.info {
    flex-direction: column;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 100px;
    gap: 40px;
    }

.cards-container {
    display: flex;
    justify-content: center;
    flex: 1 1 50%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    color: #6e7681;
    text-align: center;
    gap: 8px;
    padding: 0 40px;
}

.card > div {
    flex-grow: 0;
}

.card-text {
    flex-wrap: wrap;
}

.card-icon {
    border: 4px solid #3882F6;
    height: 160px;
    width: 160px;
    border-radius: 20%;
    padding: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Quote section */

.quote {
    background-color: #e5e7eb;
    color: #1F2937;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote > p {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    align-self: center;
    margin: 0 300px;
}

.quote > div {
    font-size: 24px;
    font-weight: bold;
    align-self: last baseline;
    margin: 0 300px 0 0;
}

/* Call to action section */

.call-to-action {
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.call-to-action-box {
    background-color: #3882F6;
    border: 1px solid #3882F6;
    height: 60px;
    flex-grow: 1;
    display: flex;
    padding: 40px 100px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

.call-to-action-text div:nth-child(1) {
    font-size: 22px;
    color: #F9FaF8;
    font-weight: bold;
}

.call-to-action-text div:nth-child(2) {
    font-size: 18px;
    color: #E5E7EBE5;
    font-weight: lighter;
}

.call-to-action-box .signup-button {
    background-color: #3882F6;
    border: 2px solid #F9FaF8;
    color: #F9FaF8;
}

/* Footer */

.footer {
    background-color: #1F2937;
    color: #E5E7EBE5;
    font-size: 18px;
    height: 100px;
    justify-content: center;
    align-items: center;
}